<div class="dd-shortcode-{{ shortcode }} style-{{ style }} space-{{ spacing }}">
    {# Intro #}
    {% if rowDesc and rowDesc != "<p><br></p>" %}
        {% set desc = true %}
    {% endif %}
    {% if rowHeadline or desc %}
        <div class="{% if introWidth == 1 %}container-xxl{% else %}container-fluid{% endif %}">
            {% if rowHeadline %}
                <div class="h2">{{ rowHeadline }}</div>
            {% endif %}
            {% if desc %}
                {{ rowDesc|raw }}
            {% endif %}
        </div>
    {% endif %}

    <div class="{% if introWidth == 1 %}container-xxl{% else %}container-fluid{% endif %}">
        {% if style == 1 %}
            {# Hero Teaser #}
            <div class="row">
                {% if sImageURL1 %}
                    <div class="col">
                        <div class="card text-white zoom-in">
                            <img src="{{ sImageURL1 }}" class="card-img card-img-full" alt="{{ title1 }}" width="1600"
                                 height="550">
                            <div class="card-img-overlay">
                                <div class="card-img-overlay-content">
                                    {% if title1 %}
                                    <div class="card-title h2 mb-3">
                                        {{ title1 }}
                                    </div>
                                    {% endif %}
                                    {% if desc1 %}
                                    <p class="d-none d-md-block card-text">{{ desc1|raw }}</p>
                                    {% endif %}
                                    {% if buttonText1 %}
                                    <span class="btn btn-secondary me-auto">{{ buttonText1 }}</span>
                                    {% endif %}
                                </div>
                            </div>
                            {% if sLink1 %}
                            <a href="{{ sLink1 }}" class="stretched-link" aria-label="{{ buttonText1 }}"></a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        {% elseif style == 2 %}
            {# Image left #}
            <div class="card">
                <div class="row g-0 m-0">
                    <div class="col-lg-6">
                        <img src="{{ sImageURL1 }}" class="card-img card-img-full" alt="{{ title1 }}" width="{{ imageSize1[0] }}" height="{{ imageSize1[1] }}">
                    </div>
                    <div class="col-lg-6">
                        <div class="card-body">
                            <div class="card-title h2">{{ title1 }}</div>
                            <div class="card-text">{{ desc1|raw }}</div>
                            {% if buttonText1 %}
                            <span class="btn btn-outline-primary">{{ buttonText1 }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <a href="{{ sLink1 }}" class="stretched-link" aria-label="{{ buttonText1 }}"></a>
                </div>
            </div>
        {% elseif style == 3 %}
            {# Image right #}
            <div class="card">
                <div class="row g-0 m-0">
                    <div class="col-lg-6 order-lg-2">
                        <img src="{{ sImageURL1 }}" class="card-img card-img-full" alt="{{ title1 }}" width="{{ imageSize1[0] }}" height="{{ imageSize1[1] }}">
                    </div>
                    <div class="col-lg-6 order-lg-1">
                        <div class="card-body">
                            <div class="card-title h2">{{ title1 }}</div>
                            <div class="card-text">{{ desc1|raw }}</div>
                            {% if buttonText1 %}
                            <span class="btn btn-outline-primary">{{ buttonText1 }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <a href="{{ sLink1 }}" class="stretched-link" aria-label="{{ buttonText1 }}"></a>
                </div>
            </div>

        {% elseif style == 4 %}
            {# Asymetric Image left #}
            <div class="card">
                <div class="row g-0 m-0">
                    <div class="col-lg-7">
                        <img src="{{ sImageURL1 }}" class="card-img card-img-full" alt="{{ title1 }}" width="{{ imageSize1[0] }}" height="{{ imageSize1[1] }}">
                    </div>
                    <div class="col-lg-5">
                        <div class="card-body">
                            <div class="card-title h2">{{ title1 }}</div>
                            <div class="card-text">{{ desc1|raw }}</div>
                            {% if buttonText1 %}
                            <span class="btn btn-outline-primary">{{ buttonText1 }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <a href="{{ sLink1 }}" class="stretched-link" aria-label="{{ buttonText1 }}"></a>
                </div>
            </div>
        {% elseif style == 5 %}
            {# Asymetric Image right #}
            <div class="card">
                <div class="row g-0 m-0">
                    <div class="col-lg-7 order-lg-2">
                        <img src="{{ sImageURL1 }}" class="card-img card-img-full" alt="{{ title1 }}" width="{{ imageSize1[0] }}" height="{{ imageSize1[1] }}">
                    </div>
                    <div class="col-lg-5 order-lg-1">
                        <div class="card-body">
                            <div class="card-title h2">{{ title1 }}</div>
                            <div class="card-text">{{ desc1|raw }}</div>
                            {% if buttonText1 %}
                            <span class="btn btn-outline-primary">{{ buttonText1 }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <a href="{{ sLink1 }}" class="stretched-link" aria-label="{{ buttonText1 }}"></a>
                </div>
            </div>
        {% endif %}
    </div>
</div>
