{% if oxcmp_categories %}
    {% set categoriesTilesWidth = oViewConf.getViewThemeParam('showCategoryTilesWidth') %}
    {% set categoriesTilesGrid = oViewConf.getViewThemeParam('showCategoryTilesGrid') %}
    {% set categoriesTilesBg = oViewConf.getViewThemeParam('showCategoryTilesBg') %}
    {% set categoriesTilesSpacing = oViewConf.getViewThemeParam('showCategoryTilesSpacing') %}
    {% set categoriesTilesRowPadding = oViewConf.getViewThemeParam('showCategoryTilesRowPadding') %}

    {# TODO: We should turn this into vCMS content #}
    <div class="container-xl">



            <span class="visually-hidden">{{ translate({ ident: "CATEGORIES" }) }}</span>
            {% set categories = oxcmp_categories %}
            <div class="row">

                <div class="col-12 text-center mb-5">
                    <h3>Unsere Kategorien</h3>
                </div>

                {% for _cat in categories %}

                    {% for _subcat in _cat.getSubCats() %}
                        {% if not _subcat.getSubCats() %}
                            <div class="col-6 col-md-4 col-lg-3 mb-5">

                                <a class="text-decoration-none" href="{{ _subcat.getLink()|raw }}">
                                    <div class="card h-100 mx-2 rounded shadow">
                                        <img class="zoom-in card-img-top rounded-top w-100 h-auto" src="{{ _subcat.getIconUrl()|raw }}" alt="{{ translate({ ident: "CATEGORY_IMAGE_ALT", args: _subcat.oxcategories__oxtitle.value }) }}">

                                        <div class="h6 card-footer rounded-bottom p-4 text-center text-uppercase">
                                             {{ _subcat.oxcategories__oxtitle.value }}
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}

                {% endfor %}
            </div>

    </div>


{% endif %}
